@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #E0E0E0;
}

#containerFiltros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerFiltros #filtros {
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 75%;
}

#containerFiltros #filtros .filtro {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 150px;
    margin: 0 10px;
}

#containerFiltros #filtros .filtro input,
#containerFiltros #filtros .filtro select {
    outline: none;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    border: 1px solid #979797;
    padding-left: 10px;
    margin-top: 5px;
}

#containerFiltros #btn {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    width: 80%;
    border-bottom: 1px solid #333333;
}

#containerFiltros #btn button {
    color: #FFFF;
    background-color: #333333;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 35px;
    cursor: pointer;
}

#containerTransacoes {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#containerTransacoes .transacao {
    display: flex;
    justify-content: space-between;
    width: 500px;
    border-bottom: 1px solid #333333;
}

#containerTransacoes .transacao h2 {
    margin: 10px 25px;
    font-size: 20px;
}

#containerTransacoes .transacao p {
    padding: 5px 0;
}

#containerTransacoes .transacao p:nth-child(1) {
    max-width: 60%;
    word-wrap: break-word;
}

#containerTransacoes #transacoes {
    max-height: 50vh;
    overflow-y: scroll;
}

#containerTransacoes #valorTotal {
    display: flex;
    justify-content: space-between;
    width: 500px;
    font-weight: bold;
    margin-top: 10px;
}

#containerTransacoes #lucroPrejuizo {
    display: flex;
    justify-content: end;
    width: 500px;
}

#containerTransacoes #lucroPrejuizo p {
    font-size: 13px;
}

#containerTransacoes #semTransacao {
    padding: 25px 0;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #E0E0E0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #E0E0E0;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

@media (max-width: 769px) {
    .transacao,
    #valorTotal,
    #lucroPrejuizo {
        width: 350px !important
    }
}

@media (max-width: 550px) {
    #filtros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .filtro,
    .filtro input,
    .filtro select {
        width: 100% !important;

    }
}